* {
  box-sizing: border-box;
}

body {
  min-width: 340px;
}

header, footer {
  padding: 0 2%;
  width: 100%;
  display: flex;
}

header, #logo-cont, footer {
  align-items: center;
}

.content, #logo-cont, footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: scroll;
  position: relative;
  z-index: 2;
}

/* navigation bar -----------------------------------------*/

header {
  justify-content: space-between;
  position: fixed;
  z-index: 6;
  background-color: rgb(218, 208, 208);
  height: 35px;
}

#logo-img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

#logo {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 1.3vw;
  letter-spacing: 5px;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 3px;
}

.navigation li {
  display: inline;
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.button a:hover {
  color: white;
}

strong {
  font-weight: 900;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 4px;
}

/* main content------------------------------------------ */

.content {
  top: 35px;
  height: 900px;
  background-image: url(../images/screens.jpeg);
  background-size: cover;
  background-position: center;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  from  {opacity: 0.3}
  to    {opacity: 1}
}

.info {
  position: relative;
  padding: 200px 10px;
  font-family: 'Assistant', sans-serif;
  width: 22%;
  color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(rgba(58, 58, 92, 0.719), rgb(0, 0, 0));
  animation-name: info;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes info {
  0%    {transform: translateX(-1000px);}
  100%  {transform: translateX(0);}
}

.info a {
  text-decoration: none;
  color: rgb(201, 223, 204);
}

.info a:hover {
  color: rgb(53, 219, 72)
}

#button {
  display: inline-block;
  width: 160px;
  height: 120px;
  font-size: 25px;
  padding: 30px 0;
  background-color: transparent;
  border: 10px solid rgb(71, 85, 112);
  border-radius: 5px;
  animation-name: button;
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes button {
  100% {background-color: rgb(20, 42, 22);}
}

/* footer section ----------------------------------------------------------*/

footer {
  height: auto;
  background-color: rgb(218, 208, 208);
}

.soc-btn img {
  margin: 8px 17px;
  width: 30px;
  height: 30px;
}

.soc-btn a:hover img {
  filter: invert(100%);
}

#copyright {
  margin: 8px 17px;
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

/* smaller screens 970px----------------------------------------------- */
@media only screen and (max-width: 970px) {
  .content, footer {
    justify-content: center;
  }
  #logo {
    font-size: 2vw;
  }
  .navigation {
    font-size: 1.5vw;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 20%;
  }

  #button {
    margin: 0 auto;
  }
  .button {
    position: absolute;
    padding: 20px;
    right: 0;
    height: 92vh;
    width: 33%;
    top: 35px;
    background-color: rgb(218, 208, 208);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .button li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

/* super small screens 660px---------------------------------- */
@media only screen and (max-width: 660px) {
  #logo {
    font-size: 3.5vw;
  }
  .navigation {
    font-size: 2.5vw;
  }
  #copyright {
    font-size: 12px;
  }
}

.button-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}