* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

header, .bg-image, .poster2, footer {
  padding: 0 2%;
  width: 100%;
  display: flex;
}

header, .container, #logo-cont, .poster2, .container, footer {
  align-items: center;
}

.intro, #logo-cont, .container, .poster2, .container, footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  z-index: 2;
}

h2, .info {
  font-family: 'Assistant', sans-serif;
}

img {
  max-width: 100%;
}

/* navigation bar -----------------------------------------*/

header {
  justify-content: space-between;
  position: fixed;
  z-index: 6;
  background-color: rgb(218, 208, 208);
  height: 35px;
}

#logo-img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

#logo {
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 1.3vw;
  letter-spacing: 5px;
}

.navigation {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 3px;
}

.navigation li {
  display: inline;
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.button a:hover {
  color: white;
}

strong {
  font-weight: 900;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 4px;
}

/* section intro------------------------------------------*/
.bg-image {
  position: fixed;
  height: 900px;
  background-image: url("../images/masquerade-banner.jpeg");
  background-size: cover;
  background-position: center;
}

.intro {
  width: 100%;
  height: 800px;
  top: 35px;
  padding: 3%;
}

#video {
  position: relative;
  height: 300px;
  width: 500px;
  border: 2px solid rgba(129, 120, 120, 0.3);
  border-radius: 15px;
  animation-name: video;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes video {
  0%    {opacity: 0}
  100%  {opacity: 1}
}

h2 {
  height: 170px;
  margin-right: 27px;
  letter-spacing: 1px;
  color: white;
}

#masquerade {
  font-size: 55px;
  animation-name: masquerade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes masquerade {
  0%    {opacity: 0}
  100%  {opacity: 1}
}

#wild {
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  line-height: 30px;
  opacity: 0;
  animation-name: wild;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes wild {
  0%    {opacity: 0}
  100%  {opacity: 1}
}

/* section poster1------------------------------------------*/
.container {
  padding: 90px 2%;
  background-image: linear-gradient(rgb(16,17,21), black);
}

.img-left, .img-right {
  width: 28%;
  min-width: 300px;
}

.info {
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  line-height: 2.2vw;
  letter-spacing: 0.05vw;
  text-align: justify;
}

#poster1-info {
  width: 34%;
}

.img-animate {
  opacity: 0;
  transition: opacity 3.5s 0.25s ease-out;
  will-change: opacity;
}

.img-animate.is-visible {
  opacity: 1;
}

/* section poster2------------------------------------------*/
.poster2 {
  padding: 90px 2%;
  background-color: black;
}

.image-cont {
  width: 30%;
}

/* section poster3------------------------------------------*/
.poster3 {
  width: 100%;
  position: relative;
  border-top: 2px solid rgba(51, 42, 42, 0.774);
  background-image: linear-gradient(rgb(16,17,21), black);
}

#prevBtn, #nextBtn {
  position: absolute;
  z-index: 4;
  top: 45%;
  cursor: pointer;
  font-size: 22px;
  color:rgba(0, 0, 0, 0.726);
  background-color: rgba(189, 189, 196, 0.795);
  border-radius: 20px;
}

#prevBtn {
  display: none;
  left: 2%;
}

#nextBtn {
  right: 2%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

#bts {
  width: 33%;
  padding: 30px;
  color: white;
  font-size: 25px;
  line-height: 10vw;
  letter-spacing: 7px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.carousel-container {
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

/* footer section ----------------------------------------------------------*/
footer {
  height: auto;
  background-color: rgb(218, 208, 208);
}

.soc-btn img {
  margin: 8px 17px;
  width: 30px;
  height: 30px;
}

.soc-btn a:hover img {
  filter: invert(100%);
}

#copyright {
  margin: 8px 2%;
  color: black;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

/* smaller screens 1200px----------------------------------------------- */
@media only screen and (max-width: 1200px) {
  .carousel-container {
    display: block;
    width: 100%;
    order: 4;
  }
}

/* smaller screens 970px----------------------------------------------- */
@media only screen and (max-width: 970px) {
  h2 {
    background-image: linear-gradient(black,rgba(10,10,15, 50%));
    width: 100%;
    order: -1;
    margin: 0 auto;
  }
  #logo {
    font-size: 2vw;
  }
  .navigation {
    font-size: 1.5vw;
  }
  #masquerade {
    text-align: center;
  }
  .info {
    display: block;
    font-size: 2vw;
    line-height: 3vw;
    letter-spacing: 0.05vw;
    width: 100%;
    margin: 50px 0;
    order: 4;
  }
  #poster1-info {
    width: 100%;
  }
  .img-right {
    order: 10;
  }
  .container {
    flex-direction: column;
  }
  .carousel-container {
    display: block;
    width: 100%;
  }
  .image-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #bts {
    display: block;
    width: 100%;
  }
  .intro, footer {
    justify-content: center;
  }
  .button {
    position: absolute;
    padding: 20px;
    right: 0;
    height: 92vh;
    width: 33%;
    top: 35px;
    background-color: rgb(218, 208, 208);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }

  .button li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

/* super small screens 660px---------------------------------- */
@media only screen and (max-width: 660px) {
  #logo {
    font-size: 3.5vw;
  }
  .navigation {
    font-size: 2.5vw;
  }
  #masquarade {
    font-size: 20px;
  }
  .info {
    font-size: 3.8vw;
    line-height: 6vw;
    letter-spacing: 0.05vw;
  }
  #copyright {
    font-size: 12px;
  }
}

/* Menu animation--------------------------------------- */

.button-active {
  transform: translateX(0%);
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
